<configuration>
    <system.webServer>
        <handlers>
            <add name="bioscapeHandler" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\Python\python.exe|C:\inetpub\wwwroot\bioscape\wfastcgi.py" resourceType="Either" />
            <add name="FlaskHandler" path="wfastcgi.py" verb="*" modules="FastCgiModule" resourceType="Unspecified" requireAccess="Script" />
        </handlers>
        <fastCgi>
            <application fullPath="C:\git\bioscape\venv\Scripts\python.exe" arguments="C:\git\bioscape\venv\Lib\site-packages\wfastcgi.py" instanceMaxRequests="10000">
                <environmentVariables>
                    <add name="WSGI_HANDLER" value="wsgi.application" />
                </environmentVariables>
            </application>
        </fastCgi>
        <directoryBrowse enabled="true" />
    </system.webServer>
</configuration>
